html, body, div, span, applet, object, iframe,
h1,h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

m2 {
  color: #ff7800;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}
.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

body {
  font: 13px/20px 'Lucida Grande', Verdana, sans-serif;
  color: #404040;
  background: #dbe0eb;
}

.checkout {
  width: 270px;
  margin: 00px auto;
  padding: 15px;
  background: #f3f6fa;
  border: 1px solid;
  border-color: #c2cadb #bbc5d6 #b7c0cd;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

.checkout > p {
  zoom: 1;
}
.checkout > p:before, .checkout > p:after {
  content: '';
  display: table;
}
.checkout > p:after {
  clear: both;
}
.checkout > p + p {
  margin-top: 15px;
}

.checkout-header {
  position: relative;
  margin: -15px -15px 15px;
}

.checkout-title {
  padding: 0 15px;
  line-height: 38px;
  font-size: 13px;
  font-weight: bold;
  color: #000000;
  text-shadow: 0 1px rgba(255, 255, 255, 0.7);
  background: #eceff5;
  border-bottom: 1px solid #c5ccdb;
  border-radius: 7px 7px 0 0;
  background-image: -webkit-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -moz-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: -o-linear-gradient(top, #f5f8fb, #e9edf3);
  background-image: linear-gradient(to bottom, #f5f8fb, #e9edf3);
  -webkit-box-shadow: inset 0 1px white;
  box-shadow: inset 0 1px white;
}
.checkout-title:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
}

.checkout-price {
  position: absolute;
  top: -14px;
  right: -14px;
  width: 40px;
  font: 14px/40px Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3);
  text-indent: -1px;
  letter-spacing: -1px;
  background: #e54930;
  border: 1px solid;
  border-color: #b33323 #ab3123 #982b1f;
  border-radius: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: -webkit-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -moz-linear-gradient(top, #f75a3b, #d63b29);
  background-image: -o-linear-gradient(top, #f75a3b, #d63b29);
  background-image: linear-gradient(to bottom, #f75a3b, #d63b29);
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.checkout-price:before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  border: 2px solid #f5f8fb;
  border-radius: 18px;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2), inset 0 -1px 1px rgba(0, 0, 0, 0.25), 0 -1px 1px rgba(0, 0, 0, 0.25);
}

input {
  margin: 0;
  line-height: normal;
  font-family: inherit;
  font-size: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.checkout-input {
  float: left;
  padding: 0 7px;
  height: 32px;
  color: #525864;
  background: white;
  border: 1px solid;
  border-color: #b3c0e2 #bcc5e2 #c0ccea;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #f6f8fa, white);
  background-image: -moz-linear-gradient(top, #f6f8fa, white);
  background-image: -o-linear-gradient(top, #f6f8fa, white);
  background-image: linear-gradient(to bottom, #f6f8fa, white);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}
.checkout-input:focus {
  border-color: #46aefe;
  outline: none;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 5px #46aefe;
}
.lt-ie9 .checkout-input {
  line-height: 30px;
}

.checkout-name {
  width: 130px;
}
.checkout-name2 {
  width: 85px;
}
.checkout-left{
  margin-left: 10px;
  width: 130px;
}

.checkout-right {
  margin-left: 10px;
  width: 85px;

}

.checkout-small {
  margin-left: 10px;
  width: 80px;
}

.checkout-card {
  width: 105px;
}
.checkout-whole {
  width: 270px;
}


.checkout-exp,
.checkout-cvc {
  margin-left: 15px;
  width: 150px;
}

.checkout-btn {
  width: 100%;
  height: 34px;
  padding: 0;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid;
  border-color: #1486f9 #0f7de9 #0d6acf;
  background: #1993fb;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -moz-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: -o-linear-gradient(top, #4cb1fe, #229afc 40%, #138df6);
  background-image: linear-gradient(to bottom, #4cb1fe, #229afc 40%, #138df6);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.checkout-btn:active {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border-color: #075bba #0c69d2 #0f7de9;
  background-image: -webkit-linear-gradient(top, #1281dc, #1593fc);
  background-image: -moz-linear-gradient(top, #1281dc, #1593fc);
  background-image: -o-linear-gradient(top, #1281dc, #1593fc);
  background-image: linear-gradient(to bottom, #1281dc, #1593fc);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.5);
}

:-moz-placeholder {
  color: #acb6c8 !important;
}

::-moz-placeholder {
  color: #acb6c8 !important;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #acb6c8;
}

:-ms-input-placeholder {
  color: #acb6c8;
}

::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}

#cssmenu ul,
#cssmenu li,
#cssmenu span,
#cssmenu a {
  margin: 0;
  padding: 0;
  position: relative;
}
#cssmenu {
  line-height: 1;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  border-bottom: 2px solid #0fa1e0;
  width: auto;
}
#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}
#cssmenu a {
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  color: #ffffff;
  display: block;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  padding: 19px 20px;
  text-decoration: none;
}
#cssmenu ul {
  list-style: none;
}
#cssmenu > ul > li {
  display: inline-block;
  float: left;
  margin: 0;
}
#cssmenu.align-center {
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  color: #ffffff;
  font-size: 12px;
}
#cssmenu > ul > li:hover:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}
#cssmenu > ul > li:first-child > a {
  border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
}
#cssmenu.align-right > ul > li:first-child > a,
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
#cssmenu.align-right > ul > li:last-child > a {
  border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a {
  color: #ffffff;
  box-shadow: inset 0 0 3px #000000;
  -moz-box-shadow: inset 0 0 3px #000000;
  -webkit-box-shadow: inset 0 0 3px #000000;
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}
#cssmenu .has-sub {
  z-index: 1;
}
#cssmenu .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
#cssmenu.align-right .has-sub ul {
  left: auto;
  right: 0;
}
#cssmenu .has-sub ul li {
  *margin-bottom: -1px;
}
#cssmenu .has-sub ul li a {
  background: #0fa1e0;
  border-bottom: 1px dotted #31b7f1;
  font-size: 11px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: #ffffff;
}
#cssmenu .has-sub ul li:hover a {
  background: #0c7fb0;
}
#cssmenu ul ul li:hover > a {
  color: #ffffff;
}
#cssmenu .has-sub .has-sub:hover > ul {
  display: block;
}
#cssmenu .has-sub .has-sub ul {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
}
#cssmenu.align-right .has-sub .has-sub ul,
#cssmenu.align-right ul ul ul {
  left: auto;
  right: 100%;
}
#cssmenu .has-sub .has-sub ul li a {
  background: #0c7fb0;
  border-bottom: 1px dotted #31b7f1;
}
#cssmenu .has-sub .has-sub ul li a:hover {
  background: #0a6d98;
}
#cssmenu ul ul li.last > a,
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul ul li.last > a,
#cssmenu ul ul ul li:last-child > a,
#cssmenu .has-sub ul li:last-child > a,
#cssmenu .has-sub ul li.last > a {
  border-bottom: 0;
}
.container > header {
  margin: 40px;
  padding: 10px 20px 10px 10px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}

.container > header h1 {
  font-size: 10px;
  line-height: 38px;
  margin: 0;
  position: relative;
  font-weight: 300;
  color: #666;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

.container > header h2 {
  font-size: 14px;
  font-weight: 300;
  margin: 40px;
  padding: 15px 0 5px 0;
  color: #666;
  font-family: Cambria, Georgia, serif;
  font-style: italic;
  text-shadow: 0 1px 1px rgba(255,255,255,0.6);
}

/* Header Style */
.codrops-top {
  line-height: 24px;
  font-size: 11px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  font-family: Cambria, Georgia, serif;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */

.codrops-top:before,
.codrops-top:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.codrops-top:after {
    clear: both
}

.codrops-top a {
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  display: inline-block;
}

.codrops-top a:hover {
  background: rgba(255,255,255,0.6);
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  float: left;
  display: block;
}

/* Demo Buttons Style */
.codrops-demos {
  text-align:center;
  display: block;
  line-height: 30px;
  padding: 5px 0px;
}

.codrops-demos a {
  display: inline-block;
  margin: 20px 4px;
  padding: 0px 6px;
  color: #8c8c8c;
  line-height: 20px;  
  font-size: 12px;
  font-weight: 700;
  text-shadow: 1px 1px 1px #fff;
  border: 1px solid #fff;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.codrops-demos a:hover {
  color: #333;
  background: #fff;
}

.codrops-demos a:active {
  background: #fff;
}

.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
  background: #555;
  border-color: #555;
  color: #ddd;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5);
  box-shadow: 0 1px 0 rgba(255,255,255,0.2), inset 0 1px 1px rgba(0,0,0,0.5);
}

.support-note span{
  color: #ac375d;
  font-size: 16px;
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}
.predictionsuccess {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: url(success.jpg)  no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.predictionfailure {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: url(failure.jpg)  no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.prediction{
  width: 40%;
  height: 40%;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 20%;
  background-color: #92bff3;
  border-radius: 20px;
}
.predictiontext{
  width:100%;
  height: 100%;
}
.predictionh1{
    color: black;
    font: 40px sans-serif;
    margin: 0;
    font-weight: 700;
    line-height: 1.1;
    padding: 15px 8px 4px;
}
    /*<script> document.write('<div style = "background-ia')*/
.predictiontext{
    bottom: 9px;
    color: black;
    font: 30px sans-serif;
    left: 10px;
    margin: 0;
    padding: 15px 8px 4px;
    text-align: left;
}
.figures{
  width: 100%;
  height:auto;
  margin: 0;
  /*text-align: center;*/
  /*padding: 100px 0;*/
}

.bk-bs-container {
  margin: auto;
  width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #d4e7e4;
}
.bk-bs-row {
  padding-left: 8%;
  padding-top: 10px;
}

.liveloantable{
  width: 1000px;
  margin: auto;
  padding: auto;
  text-align: center;
}
.paddingBetweenCols {
  width: 800px;
  float: center;
  margin: 0;
  text-align:center;
  padding-top: 10px;

}
.liveloantableside {
  width: 200px;
  margin: 0;
  float: right;
  text-align:left;
  padding-top: 10px;
}
.paddingBetweenCols th{
    border-color: #cbcbcb;
    border-style: none none solid;
    border-width: 1px;
    /*background: #f7f7f7;*/
}
.paddingBetweenCols td
{
  padding:0 20px 0 20px;
}

/**/
.containera > header {
  margin: 0 auto;
  padding: 2em;
  text-align: center;
  background: rgba(0,0,0,0.01);
}

.containera > header h1 {
  font-size: 2.625em;
  line-height: 1.3;
  margin: 0;
  font-weight: 300;
}
.grida {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grida li {
  display: inline-block;
  width: 440px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.grida figure {
  margin: 0;
  position: relative;
}

.grida figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grida figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #2c3f52;
  color: #ed4e6e;
}

.grida figcaption h3 {
  margin: 0;
  padding: 0;
  color: #fff;
}

.grida figcaption a {
  text-align: center;
  padding: 5px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}

/* Individual Caption Styles */

/* Caption Style 1 */
.cs-style-x figcaption {
  height: 280px;
  width: 380px;
  opacity: 0;
  text-align: center;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.no-touch .cs-style-x figure:hover figcaption,
.cs-style-x figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translate(15px, 15px);
  -moz-transform: translate(15px, 15px);
  -ms-transform: translate(15px, 15px);
  transform: translate(15px, 15px);
}

.cs-style-x figcaption h3 {
  margin-top: 70px;
}

.cs-style-x figcaption span {
  display: block;
}

.cs-style-x figcaption a {
  margin-top: 30px;
}

@media screen and (max-width: 31.5em) {
  .grida {
    padding: 10px 10px 100px 10px;
  }
  .grida li {
    width: 100%;
    min-width: 300px;
  }
}

.welcomebg{
  display: table;
  width: 100%;
  height: 400px;
  padding: 100px 0;
  text-align: center;
  background: url(investment.jpg)  no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.welcometext{
  width: 600px;
  color:#fff;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  font-family: Cambria, Georgia, serif;
}

.welcometext h1{
  font-size: 2.75em;
  color: #fff;
  line-height: 1.2;
  float: none;
  text-align: center;
  margin: 10px auto 17px auto;
  font-weight: 500;
  font-family: arial, sans-serif;
}

.welcometext h2{
  font-size: 2em;
  color: #fff;
  /*line-height: 1;*/
  float: none;
  text-align: center;
  margin: 10px auto 30px auto;
  font-weight: 500;
  font-family: arial, sans-serif;
}

.welcometext p{
  font-size: 1.4em;
  color: #fff;
  line-height: 1.7;
  float: none;
  text-align: left;
  margin: 10px auto 17px auto;
  font-weight: 100;
}


.welcometext a{
  text-align: center;
  padding: 5px 10px 10px 10px;
  margin: 10px 100px 10px 10px;
  border-radius: 2px;
  display: inline-block;
  background: #ed4e6e;
  color: #fff;
}
.myvideo{
  width: 100%;
  height: 500px;
  padding: 100px 0;
  text-align: center;
  background: gray;
}
.myvideo h2{
  font-size: 2em;
  color: #fff;
  /*line-height: 1;*/
  float: none;
  text-align: center;
  margin: 10px auto 30px auto;
  font-weight: 500;
  font-family:'Open Sans',sans-serif;
}

.myvideo p{
  font-size: 1.4em;
  color: #fff;
  /*line-height: 1;*/
  float: none;
  text-align: center;
  margin: 10px auto 30px auto;
  font-weight: 500;
  font-family:'Open Sans',sans-serif;
}

.myvideo a{
  text-align: center;
  padding: 5px 10px 10px 10px;
  margin: 10px 100px 10px 10px;
  border-radius: 2px;
  display: inline-block;
  background: black;
  color: #fff;
}

.inputcontainer{
  width: 40%;
  
  margin-right:5%;
  /*margin: auto;*/

}

.inputcontainer h2{
  font-size: 1.4em;
  color: black;
  /*line-height: 1;*/
  float: none;
  text-align: center;
  /*margin: 10px auto 30px auto;*/
  font-weight: 500;
  font-family:arial, sans-serif;
}

.liveloanpic{
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: url(portfolioBuilder.jpg)  no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.liveloandisc{
  width:100%;
  height: auto;
  margin: auto;
  padding: auto;
  text-align: left;
  background-color: gray
}
.liveloantext{
  padding: 5px 10px 10px 10px;
  width: 80%;
  line-height: 1.5;
  margin: auto;
  font-size: 1.4em;
  color: black;
  float: none;
  text-align: left;
  font-weight: 500;
  font-family:arial, sans-serif;
}

.liveloantext h2{
  margin: auto;
  line-height: 1.3;
  font-size: 2em;
  color: black;
  float: none;
  text-align: left;
  font-weight: 500;
  border-radius: 6px;
  font-family:arial, sans-serif;
}

.loanstatspic{
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: url(loanstats.jpg)  no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.loanstats{
  width: 80%;
  margin-left: 10%;
  margin-top: 25%;
  /*margin-bottom: 20%;*/
  background-color: gray;
  text-align: left;
  border-radius: 20px;
}
.inputbgpic{
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background: url(input.jpg)  no-repeat bottom center scroll ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}
.modelinfo{
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  background-color: gray;

}
.loanpadd{
  width: 40%;
  margin-left: 7%;
  /*margin-right:5%;*/
  margin-top: 5%;
  padding: auto;
  display: inline-block;  
  text-align: left;
  float: left;
  background-color:rgba(146,191,243,0.90);
  /*#92bff3;*/
  /*opacity: 0.4;*/
  text-align: left;
  border-radius: 20px;
}
.inputtext{
  padding: 5px 10px 10px 10px;
  width: 80%;
  line-height: 1.4;
  margin: auto;
  font-size: 1.4em;
  color: black;
  float: none;
  text-align: left;
  font-weight: 500;
  font-family:arial, sans-serif;
}
.inputtext h2{
  margin: auto;
  /*line-height: 2;*/
  font-size: 2em;
  color: black;
  float: none;
  text-align: left;
  font-weight: 500;
  font-family:arial, sans-serif;
}
table.tablesorter {
  font-family:arial;
  background-color: #CDCDCD;
  margin:10px 0pt 15px;
  font-size: 12pt;
  width: 100%;
  text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
  background-color: #e6EEEE;
  border: 1px solid #FFF;
  font-size: 12pt;
  padding: 4px;
}
table.tablesorter thead tr .header {
  background-image: url(bg.gif);
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
table.tablesorter tbody td {
  color: #3D3D3D;
  padding: 4px;
  background-color: #FFF;
  vertical-align: top;
}
table.tablesorter tbody tr.odd td {
  background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
  background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
  background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

/*
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */


